<h1><%= @restaurant.name  %></h1>
<p>Category: <%= @restaurant.category %></p>
<p>Address: <%= @restaurant.address %></p>
<p>Phone number: <%= @restaurant.phone_number %></p>

<%= link_to "<< List", restaurants_path %>
<%= link_to "Edit", edit_restaurant_path(@restaurant) %>
<%= link_to "Delete", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } %>
<hr>

<% @restaurant.reviews.each do |r| %>
  <h3>
    <%= r.rating %> Stars
  </h3>
  <p>
    <%= r.content %>
  </p>
  <hr>
<% end %>
<% if @restaurant.reviews.empty? %>
  <h2>There is no reviews yet! =(</h2>
  <p>Be the first to review!</p>
  <hr>
<% end %>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <% rating = [['1', 1], ['2', 2], ['3', 3], ['4', 4], ['5', 5]] %>
  <%= f.label :rating %>
  <%= f.select :rating, rating %>
  <%= f.submit %>
<% end %>
